html,
body {
  font-family: "montserrat", sans-serif;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  padding: 30px 80px 40px;
}
.header {
  box-sizing: border-box;
  height: 100%;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav__logo {
  height: 80px;
}
.nav__list {
  list-style: none;
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin-top: 8px;
}
.nav__item {
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
}

.header__description {
  margin-top: 32px;
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  height: 100%;
  width: auto;
}
.header__footer {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
