@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

html,
body {
  font-family: "montserrat", sans-serif;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  padding: 30px 80px 40px;
}
.header {
  box-sizing: border-box;
  height: 100%;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav__logo {
  height: 80px;
}
.nav__list {
  list-style: none;
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin-top: 8px;
}
.nav__item {
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
}

.header__description {
  margin-top: 32px;
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  max-width: 100%;
  height: auto;
}
.header__footer {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.content {
  line-height: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg")
    center/cover no-repeat;
  width: 100%;
  padding-bottom: 30px;
}

.content__title {
  margin-bottom: 0;
  font-size: 80px;
}
.content__subtitle {
  font-size: 31px;
}
.content__cards {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 760px;
  flex-wrap: wrap;
  gap: 20px;
}
.cards {
  display: flex;
  overflow: hidden;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  width: 360px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 420px;
}
.cards__img {
  object-fit: cover;
  height: 260px;
  width: 100%;
}
.cards__title {
  font-size: 25px;
}
.cards__text {
  margin: 20px;
}
.events {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
}
.events__content {
  flex-basis: 580px;
  flex: 1;
  min-width: 500px;
}
.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.event__info {
}
.event__info-item {
  display: flex;

  align-items: center;
  font-weight: 500;
}
.material-symbols-outlined {
  margin-right: 5px;
}
.event__info-text {
}
.events__description {
}
.events__more {
}
.events__img {
  flex: 1;
  min-width: 400px;
}
.events__img {
}
.events__img-1 {
  object-fit: cover;
  position: absolute;
  top: 120px;
  right: 120px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.events__img-2 {
  position: absolute;
  object-fit: cover;
  top: 380px;
  right: 120px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.events__img-3 {
  position: absolute;
  object-fit: cover;
  top: 350px;
  right: 320px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.events__img-4 {
  position: absolute;
  object-fit: cover;
  top: 180px;
  right: 380px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
